<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>ReviewBox</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Top</display-name>
    <servlet-name>Top</servlet-name>
    <servlet-class>servlet.Top</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Top</servlet-name>
    <url-pattern>/Top</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>servlet.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My</display-name>
    <servlet-name>My</servlet-name>
    <servlet-class>servlet.My</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My</servlet-name>
    <url-pattern>/My</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mypage</display-name>
    <servlet-name>Mypage</servlet-name>
    <servlet-class>servlet.Mypage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mypage</servlet-name>
    <url-pattern>/Mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Posts</display-name>
    <servlet-name>Posts</servlet-name>
    <servlet-class>servlet.Posts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posts</servlet-name>
    <url-pattern>/Posts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDelete</display-name>
    <servlet-name>AccountDelete</servlet-name>
    <servlet-class>servlet.AccountDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDelete</servlet-name>
    <url-pattern>/AccountDelete</url-pattern>
  </servlet-mapping>
</web-app>